* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.nav {

    background-color: #2c2c32;
    display: flex;

}

a {

    display: inline-block;
    font-size: 17px;
    color: rgb(172, 166, 166);
    padding: 12px;
    text-decoration: none;


}

a:hover {

    color: rgb(255, 255, 255);


}

.VSC {

    font-size: 22px;
    color: white;

}

.main-menu {

    padding-left: 275px;
    display: inline-block;

}

.search {

    display: inline-block;
    display: flex;
    padding-left: 135px;
}

.down {

    font-weight: bold;
    font-size: 17px;
    outline: 0 !important;
    border: 0;
    padding: 17px;
    background-color: #0066b8;
    color: white;

}

.down:active {

    background-color: #045aa0;

}

.down:hover {

    background-color: #045aa0;

}

.search-text {

    background-color: #4a4a50;
    padding: 17px;
    border: 0;
    color: rgb(255, 255, 255);

}

.search-text:hover {

    background-color: #616168;

}

.search-text::placeholder {

    color: rgb(172, 166, 166);

}

.version-block {

    background-color: #25252b;
    text-align: center;

}

.version-info {

    color:rgb(218, 213, 213);
    padding-left: 0px;
}

.version-info:hover {

    color:rgb(218, 213, 213);

}

.version {

    text-decoration: underline;
    color: #228adf;
    padding-right: 0px;

}

.version:hover {

    text-decoration: none;
    color: #228adf;
}






.under-main-block {

    justify-content: center;
    background-color: #2c2c32;
    display: flex;

}

.strange-block {

    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.code-editing {

    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;

}

.redef {

    font-size: 50px;
    color: white;
    text-align: center;

}

.free {

    color: rgb(172, 166, 166);
    text-align: center;
    font-size: 20px;
    padding: 10px;

}

.img {

    padding: 50px;

}

.main-button {

    padding: 15px;
    outline: 0 !important;
    border: 0;
    color: white;
    background-color: #0066b8;

}

.main-button:active {

    background-color: #045aa0;

}

.main-button:hover {

    background-color: #045aa0;

}

.main-text-button {

    font-size: 18px;
    display: block;
    font-weight: bold;

}

.sub-text-button {

    margin-top: 5px;
    display: block;

}

.tipo-burger {

    color: white;
    padding: 15px;
    background-color: #0066b8;
    outline: 0 !important;
    border: 0;
    font-size: 18px;
    margin-left: 2px;

}

.tipo-burger:hover {

   background-color: #045aa0;

}

.tipo-burger:active {

    background-color: #045aa0;
 
 }

.button-block {

    display: flex;

}

.text-sss {

    color: #228adf;
    padding-right: 0px;
    padding-left: 0px;

}

.text-sss:hover {

    text-decoration: underline;
    color: #228adf;
}

.text-c {

    padding-right: 0px;
    padding-left: 0px;
    color: rgb(172, 166, 166);

}

.text-c:hover {

    color: rgb(172, 166, 166);

}

.text-b {

    padding-bottom: 0px;
    padding-top: 0px;
    color: rgb(172, 166, 166);
    font-size: 12px;

}

.text-b:hover {

    color: rgb(172, 166, 166);

}

.text-s {

    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 12px;
    color: #228adf;

}

.text-s:hover {

    text-decoration: underline;
    color: #228adf;
}

.four-block {

    display: flex;
    align-items: center;
    justify-content: center;

}

.four-block div {

    align-items: center;
    padding-left: 80px;
    margin-left: 10px;
    padding-right: 80px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.four-block div:hover {

    background-color: rgb(168, 162, 162);
    cursor: pointer;

}

.four-block p {

    font-size: 22px;
    cursor: pointer;

}

.one-png {

    margin-left: 18px;
    padding-top: 5px;
    padding-bottom: 4px;

}

.two-png {

    margin-left: 18px;
    padding-top: 6px;
    padding-bottom: 2px;

}

.three-png {

    margin-left: 18px;
    padding-top: 3px;

}

.coments {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    padding-left: 280px;
    padding-right: 280px;
    background-color: rgb(240, 240, 240);

}

.coments div {

    align-items: center;

}

.coments img {

    height: 80px;
    font-weight: auto;
    border-radius: 50px;
    margin-bottom: 100px;

}

.coments img:hover {

    cursor: pointer;

}

.coments p {

    font-size: 20px;
    padding-left: 5px;
    color: rgb(68, 68, 68);

}

.two-coment {

    margin-left: 20px;
    margin-right: 20px;
    display: flex;

}

.one-coment {

    display: flex;

}

.three-coment {

    display: flex;

}

.one-mail {

    color: black;
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: bold;

}

.one-mail:hover {

    color: #228adf;

}

.two-mail {

    color: black;
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: bold;

}

.two-mail:hover {

    color: #228adf;

}

.three-mail {

    color: black;
    padding-left: 5px;
    padding-bottom: 1px;
    font-weight: bold;

}

.three-mail:hover {

    color: #228adf;

}

.span-one {

    font-size: 12px;
    color: rgb(110, 110, 110);

}

.span-one:hover {

    color: rgb(110, 110, 110);

}

.span-two {

    font-size: 12px;
    color: rgb(110, 110, 110);

}

.span-two:hover {

    color: rgb(110, 110, 110);

}

.span-three {

    font-size: 12px;
    color: rgb(110, 110, 110);

}

.span-three:hover {

    color: rgb(110, 110, 110);

}

.site-info-one {

    display: flex;
    align-items: center;
    justify-content: center;

}

.info-text-one {

    font-size: 30px;

}

.indo-text-one-under {

    font-size: 20px;

}

.site-info-png-one  {

    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 280px;

}

.site-info-text-one {
    
    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 50px;
    padding-right: 280px;

}

.indo-text-one-under {

    line-height: 40px;

}

.info-text-one {

    margin-bottom: 30px;

}









.site-info-png-two  {

    padding-top: 80px;
    padding-left: 80px;
    padding-bottom: 50px;
    padding-right: 280px;

}

.site-info-text-two {
    
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 280px;

}

.site-info-two {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 240, 240);

}

.site-info-two img {

    height: 240px;
    font-weight: auto;

}